@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 45px;
  padding: 1rem 0;
}

h2 {
  font-size: 2.6rem;
  line-height: 45px;
  padding: 1rem 0;
}

h3 {
  font-size: 2.2rem;
  line-height: 38px;
  padding: 1rem 0;
}

.shape-path {
  background: #19212f;
  border-radius: 26% 74% 48% 52% / 30% 62% 38% 70%;
}

.grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.item1 {
  grid-row-end: span 2;
}

.shape-1 {
  background-image: url("/assets/shape1.png");
  background-position: left;
  background-size: cover;
  background-position-x: -140px;
  background-repeat: no-repeat;
}

.shape-2 {
  background-image: url("/assets/shape2.png");
  background-position: bottom;
  background-size: cover;
  background-position-x: -60px;
  background-repeat: no-repeat;
}

.search-bg {
  background-image: url("/assets/search-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: auto;
}

input[type='radio']:after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: -3px;
  /* left: -1px; */
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid gray;
}

input[type='radio']:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: -3px;
  /* left: -1px; */
  position: relative;
  background-color: #ff4605;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid gray;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f141e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Bebas Neue";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 1120px) {
  .grid-display {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}